/* * {
    border: 1px red dotted;
} */


#cal-button {
    float: right;
}

#hidden-el {
    min-width: 100%
}

.font-family {

}

.rock-salt {
    font-family: 'Rock Salt', cursive;
}

.littleguy {
    height: 70px;
    width: 100px;
    
}

.littleguy2 {
    height: 70px;
    width: 100px;
    
}

.font1 {
    font-family: 'Fugaz One', cursive;
}

.font2 {
    font-family: 'Alkatra', cursive;
}

.trash {
    float: right;
}

.datepicker-date-display {
    background-color: #00bcd4 !important; 
}

.datepicker-cancel {
    color: #00bcd4 !important;
}

.datepicker-done {
    color: #00bcd4 !important;

}

